services:
    arango:
        image: ${IMAGE_VERSION}
        restart: "no"
        profiles: ["${SPEC}.arango"]
        ports:
        -   "${ARANGO_PORT}:8529"
        container_name: ${CONTAINER_NAME}
        volumes:
        -   arango_data:/var/lib/arangodb3
        -   arango_apps:/var/lib/arangodb3-apps
        environment:
        -   ARANGO_ROOT_PASSWORD=$ARANGO_ROOT_PASSWORD

volumes:
    arango_data:
        driver: local
    arango_apps:
        driver: local
